In [ ]:
import pandas as pd
import numpy as np

In [5]:
cbs = pd.read_excel('141308__chargeback_20211012013323000000_efebbade4212e8b1.xlsx', skiprows=11)
cbs.columns

Index(['ARN', 'Payment Method', 'Dispute Due Date', 'Chargeback Category',
       'Chargeback Reason Code', 'Reason Description', 'Chargeback Type',
       'Transaction ID', 'Transaction Date', 'Chargeback Status',
       'Client Name', 'Card Number', 'PAN', 'Card Type', 'Bank Reference',
       'Client Unique ID', 'Chargeback Date', 'Update Date', 'Multi Client',
       'Site Name', 'Affiliate', 'Transaction Type', 'Status', 'Acquirer Bank',
       'Custom Data', 'External Token Provider', 'Currency',
       'Transaction Amount', 'Chargeback Amount', 'Is 3D',
       'Was Previously Credited', 'Recurring Type', 'Is SCA Mandated',
       'PSD2 Scope', '3D Version', 'Authentication Flow', 'Is Liability Shift',
       'External Fraud Score %', 'Is External MPI', 'Lifecycle ID',
       'Acquirer Decision', 'Acquirer Decision Reason', 'Sub Method',
       'Name on Card', 'BIN', 'Issuer Bank', 'Issuing Country',
       'Email Address', 'User ID', 'Billing Country', 'IP Country'],
      dtype='object')

In [8]:
cbs = cbs.iloc[:-2]

In [6]:
bins = np.linspace(min(cbs['Chargeback Amount']), max(cbs['Chargeback Amount']), 4)
group_names = ['低','中','高']
cbs['拒付价格分类'] = pd.cut(cbs['Chargeback Amount'], bins, labels=group_names, include_lowest=True)
cbs['拒付价格分类']
#next: using histogram to display the distribution of the CHB amount

0          低
1          低
2          低
3          低
4          低
        ...
13099      低
13100      低
13101      低
13102    NaN
13103    NaN
Name: 拒付价格分类, Length: 13104, dtype: category
Categories (3, object): ['低' < '中' < '高']

In [12]:
cbs.iloc[0]

ARN                                          74424651276113054227393
Payment Method                                                  Visa
Dispute Due Date                                 2021-10-25 00:00:00
Chargeback Category                                Customer Disputes
Chargeback Reason Code                                          13.7
Reason Description                    Cancelled Merchandise/Services
Chargeback Type                                           Chargeback
Transaction ID                                 1130000002305422848.0
Transaction Date                                 2021-10-03 11:54:33
Chargeback Status                                            Regular
Client Name                                         Ronghan-MCC 5399
Card Number                                         4***********7504
PAN                                                 4***********7504
Card Type                                                      Debit
Bank Reference                                                   0.0
Client Unique ID                              6003432110316543223835
Chargeback Date                                  2021-10-11 00:00:00
Update Date                                      2021-10-11 19:21:36
Multi Client                Ronghan International Limited (PF) Multi
Site Name                                           Ronghan-MCC 5399
Affiliate                                                        NaN
Transaction Type                                                Sale
Status                                                       Regular
Acquirer Bank                                    Safecharge Acquirer
Custom Data                                                      NaN
External Token Provider                                          0.0
Currency                                                         USD
Transaction Amount                                             55.64
Chargeback Amount                                              55.64
Is 3D                                                             No
Was Previously Credited                                           No
Recurring Type                                               Initial
Is SCA Mandated                                                   No
PSD2 Scope                                                        No
3D Version                                                    Non-3D
Authentication Flow                                              NaN
Is Liability Shift                              Liability shift - NO
External Fraud Score %                                           NaN
Is External MPI                                                   No
Lifecycle ID                                   1130000002305422848.0
Acquirer Decision                                                NaN
Acquirer Decision Reason                                         NaN
Sub Method                                                       NaN
Name on Card                                 Genesis johana Martinez
BIN                                                         420767.0
Issuer Bank                         JPMorgan Chase Bank N.A. - Debit
Issuing Country                                        United states
Email Address                                genesislavish@gmail.com
User ID                                                          NaN
Billing Country                                        United states
IP Country                                             United states
拒付价格分类                                                             低
Name: 0, dtype: object

思考：
1）cbs['Payment Method']的值 is either Visa or MasterCard?
如果除了Visa/MasterCard，还有其他值，会出错
结论：['Visa', 'MasterCard', 'Maestro']。 不会出错。默认把其他非Visa设置成0
2) pd.get_dummies(cbs['Payment Method'])默认把第一行的值变成1？
改一下第一行的值
结论：猜测正确，默认把第一行的值变成1，其他与第一行的值不一样的值，全部为0

In [14]:
#思考：cbs['Payment Method']
pd.get_dummies(cbs['Payment Method'])

       Maestro  MasterCard  Visa
0            0           0     1
1            0           0     1
2            0           0     1
3            0           0     1
4            0           0     1
...        ...         ...   ...
13097        0           1     0
13098        0           1     0
13099        0           1     0
13100        0           1     0
13101        0           1     0

[13102 rows x 3 columns]

In [17]:
cbs.iloc[0] = cbs.iloc[13101]
pd.get_dummies(cbs['Payment Method'])

       Maestro  MasterCard  Visa
0            0           1     0
1            0           0     1
2            0           0     1
3            0           0     1
4            0           0     1
...        ...         ...   ...
13097        0           1     0
13098        0           1     0
13099        0           1     0
13100        0           1     0
13101        0           1     0

[13102 rows x 3 columns]

In [ ]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
z = np.array([[[6., 23.], [-1, 7], [8, 9]]])
x

Page 106
Every array has a shape, a tuple indicating 
the size of each dimension, and a dtype, an object describing the data type of the array

In [ ]:
y

In [ ]:
x.shape

In [ ]:
y.shape

In [ ]:
x.ndim

In [ ]:
y.ndim

In [ ]:
z.ndim

In [ ]:
z.shape

In [ ]:
z.dtype

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data = pd.DataFrame(data)

In [ ]:
data

In [ ]:
data.drop('pop', axis = 1, inplace=True)
data

In [ ]:
#fruits = {'Apple':[30], 'Orange':[9]}
fruits = {'Apple':30, 'Orange':9}
fruits = pd.DataFrame(fruits)
fruits

In [ ]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
data.duplicated()

In [ ]:
data['v1'] = range(7)
data

In [ ]:
data.drop_duplicates('k2')

In [ ]:
data

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
'Pastrami', 'corned beef', 'Bacon',
'pastrami', 'honey ham', 'nova lox'],
'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
meat_to_animal = {
 'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon'
}

In [ ]:
lower_cased = data['food'].str.lower()
data['animal'] = lower_cased.map(meat_to_animal)
data

In [ ]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

In [ ]:
data = np.random.randn(2, 3)

In [ ]:
data

In [ ]:
data * 10

In [ ]:
data + data

In [ ]:
data.shape

In [ ]:
data.dtype

In [ ]:
data1 = [6, 7.5, 8, 0, 1]
arr = np.array(data1)
arr

In [ ]:
np.empty((2, 3, 2))

In [ ]:
np.zeros((2,3))

In [ ]:
np.arange(15)